{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="mt-3">Günlük Efor Kayıt Programı</h2>
    </div>
    <hr>
    <div class="d-flex justify-content-end mt-2 ps-6">
        <p class="fs-5 fst-italic">Kayıt girmek ya da kayıtları görüntülemek için soldaki menüyü kullanın.</p>
    </div>
</div>


<div class="container-fluid align-items-end mt-5">
    <div class="d-flex justify-content-center">
        {% if word2practice %}
             <!-- <p>{{ word2practice[0] }}</p> -->
        {% for word in word2practice %}
    
            <div class="row me-2 ms-2">
                <button class="btn p-0 border-0" onclick="seslendir('{{ word[0] }}')">
                    <img src="../static/img/english.png" class="" style="width: 25px; height: auto;" >
                </button>
            </div>
    
            <div class="row ms-2">
                <p class="mb-2 me-2 ms-2 font-monospace fs-5 fw-bold">{{word[0]}} :</p>
            </div>
            <div class="row">
                <p class="mb-2 me-2 ms-2 font-monospace fs-5 fst-italic">{{word[1]}}</p>
            </div>
    
    
        {% endfor %}
    
        {% endif %}
    
    </div>
</div>
<script>
    function seslendir(word) {
        const utterance = new SpeechSynthesisUtterance(word);
        utterance.lang = 'en-US';
        window.speechSynthesis.speak(utterance);
    }
</script>
{% endblock %}
