{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="container d-flex justify-content-center mt-2 mb-4">
        <h1>Haftalık Efor Özeti</h1>
    </div>

    {% for row in rows_of_circles %}
    <div class="d-flex align-items-center ms-4 mt-3 pb-3"  style="border-bottom: 1px solid #ccc;">
    <div class="d-flex flex-wrap" style="flex-grow: 1;">
            {% for item in row.circles %}
                <div class="circle {{ item.color }} me-3 mb-3">
                    <div>{{ item.tarih }}<br><br>{{ item.total_efor }}</div>
                </div>
            {% endfor %}
            <hr>
            <div class="total h3 ms-auto">{{ row.row_total }}</div>
            <hr>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container mb-1 mt-5">
    <div class="d-flex justify-content-center">
        {% if word2practice %}

        {% for word in word2practice %}
        
     
        
        <div class="me-2 ms-2">
            <img src="../static/img/english.png" class="" style="width: 25px; height: auto;" >
        </div>
        <div class="row">
            <p class="mb-2 me-2 ms-2">{{word[0]}}</p>
        </div>    
        <div class="ms-2 me-2">
            <img src="../static/img/turkish.png" class="" style="width: 25px; height: auto;" >
        </div>
        <div class="row">
            <p class="mb-2 me-2 ms-2">{{word[1]}}</p>
        </div>
        {% endfor %}
            <!-- <p>word</p> -->
        {% endif %}
    </div>
    <div class="d-flex align-items-center mb-1">
        <div class="circle green" style="transform: scale(0.2); margin-right: 2px;"></div>
        <p class="mb-0">Tam efor</p>
        <div class="circle red" style="transform: scale(0.2); margin-right: 2px;"></div>
        <p class="mb-0">Eksik efor</p>
        <div class="circle orange" style="transform: scale(0.2); margin-right: 2px;"></div>
        <p class="mb-0">Fazla efor</p>

    </div>
    <!-- <div class="d-flex align-items-center mb-1">
        
    </div>
    <div class="d-flex align-items-center mb-1">
       
    </div> -->
</div>
{% endblock %}